<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Textbook Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="3">Class</ion-col>
      <ion-col>Subject</ion-col>
      <ion-col size="3">Count</ion-col>
    </ion-row>
    <ion-row *ngFor="let textbook of textbookDetails">
      <ion-col size="3">{{ textbook.class }}</ion-col>
      <ion-col>{{ textbook.subject }}</ion-col>
      <ion-col size="3">
        <ion-item lines="none">
          <ion-input placeholder="" style="background-color:lightgray" type="number" [(ngModel)]="textbook.count" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;">
    <ion-button type="submit" color="primary" expand="block" class="save-btn" (click)="saveData()">Save</ion-button>
  </div>
</ion-content>
