.sign-in{
    width: 70%;
    top: 50%;
    margin: auto;
    height: 52px;
    font-size: 18px;
    margin-top: 12%;
}

.small-text{
    text-align: center;
    padding: 15px;
}

.login-form{
    padding:8%;
    margin-top: 13%;
    box-shadow: 12px 3px 60px 10px #f4a460;
    border: 2px solid;
    border-color: brown;
}

ion-item{
    font-size: 20px;
}

.logo-info {
    margin-top: 4%;
    height: 28px;
    width: 9%;
}
.text-in{
    font-size: 16px;
    color: gray;
    padding-left: 5%;
}

.welcome{
    font-size: 28px;
    font-weight: bold;
}

ion-button {
    --border-radius: 20px;
    }