<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="logInForm" (submit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-button type="submit" color="danger" expand="block" class="sign-in" [disabled]="!logInForm.valid">Sign In</ion-button>
    <div class="small-text">
      <a [routerLink]="['/forgot-password']">Forgot Password?</a>
    </div>
  </form>
</ion-content>
