/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-content, ion-item {
    --background: #E9E8D9;
    background: #E9E8D9;
}

.toolbar {
    --background: #FFD954;
    background: #FFD954;
    border-bottom-left-radius: 20px;
}

.save-btn, .sign-in {
    width: 70%;
    top: 50%;
    margin: auto;
    height: 52px;
    font-size: 18px;
    margin-top: 12%;
    --background: #185a9d;
}

ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      background-color: #185a9d;
      font-weight: bold;
      color: white;
    }
    ion-col {
      border: 0.5px solid black;
      border-bottom: 0;
      border-right: 0;
      text-align: center;
    }
    ion-col:last-child {
      border-right: 0.5px solid black;
    }
    
    ion-row:last-child {
      border-bottom: 0.5px solid black;
    }
}

.login-form{
    padding:8%;
    margin-top: 13%;
    box-shadow: 12px 3px 60px 10px #e4d18a;
    border: 2px solid;
    border-color: #FFD954;
}

  
  ion-footer{
    background-color: #FFD954;
  }

ion-checkbox {
    --background-checked: #185a9d !important;
    --border-color-checked: #185a9d !important;
}